<mat-grid-list cols="1" rowHeight="900px" gutterSize="5px" class="bg">
  <app-navbar></app-navbar>
<mat-grid-tile>
  <div class="centered">
    <h2>Hello,</h2>
    <h1>I'm Shashwat Shukla</h1>
    <p>Java Full Stack Developer with Angular</p>
    <br>
    <br>
    <p>details</p>
    <div class="bt">
      <button mat-raised-button color="primary" (click)="scrollDown()">Click! To Know More     </button>
    </div>
    
  </div>
</mat-grid-tile>
  
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="600px" gutterSize="5px" >
<mat-grid-tile>
  <app-card></app-card>
</mat-grid-tile>
</mat-grid-list>